$primary: #1686B3;
$light-primary: #7BCEEF;
$red: #BF4040;

$text-primary: #1F78B4;
$text-white: white;
$text-black: black;
$text-red: #B41F1F;
$text-grey: #C5C5C5;
$background-grey: #F2F2F2;
$background-grey2:rgb(250, 250, 250);
$element-grey: #A3A3A3;

$bg-white: white;