$primary: #1686b3;
$light-primary: #7bceef;
$red: #bf4040;

$text-primary: #1f78b4;
$text-white: white;
$text-black: black;
$text-almost-black: #1E1E1E;
$text-red: #b41f1f;
$text-grey: #c5c5c5;
$background-grey: #f2f2f2;
$background-grey2: rgb(250, 250, 250);
$element-grey: #a3a3a3;

$bg-white: white;
